<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Home library</title>
        <link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
    </head>
    <body>
        <form action="#" method='GET'>
            <label for="amount">Kwota: </label>
            <input type="text" id="amount" name="amount"><br>

            <label for="currency">Wybierz walute:</label>
            <select name="currency" id="currency">
            {% for i in data[0]['rates'] %}
                <option value=i>{{i['currency']}}</option>
            {% endfor %}
            <input type='submit' value='submit'/>
            <p>{% block content %}{{cost}}{% endblock %}</p>
            </select>
        </form>
    </body>
</html>